h1{

  color:floralwhite
}
h1{
  background-color:dimgrey
}
h1 {
  text-align:center;
}
h2{
  /*background-color: dimgray;*/
  color: dimgray;
}
h3{
  color: #7fa653;
}
h4{
  color:dimgray
}
body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1px 10px;
  text-align: justify;
}
