h1{

  color:floralwhite
}
h1{
  background-color:dimgrey
}
h1
.centralizar{
  text-align:center;
}
h2{
  background-color: dimgray;
  color:white
}
h3{
  color:darkslategrey
}
h4{
  color:dimgray
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}